  /* Barra Navegacion */

  .navbar{
    padding: 1rem;
    background-color: #0d6efd;
    justify-content: space-between;
}
.navbar-collapse {
 align-items: center;
 justify-content: space-between;
}
.nav-link{
    color :black;
}

    /* Main */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/FondoColorPastel.jpg);
 }
.reglasClass{
    width: 500px;
    height: 600px;
    box-shadow: 7px 13px 37px #0d6efd
}
.reglasClass h1{
    font-size: 52px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Permanent Marker';
}
section{
    padding: 100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    flex-direction: column;
    border-radius: 20px;
    border-color: black;
    color: black;
}

section p{
    margin-top: 20px;
    font-family: 'Times new Roman';
    font-size: 21px;
    text-shadow: 0cap;
    color: black;
}
